/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,100&family=Nunito+Sans&family=Open+Sans:wght@300&display=swap');

* {
   font-family:'Montserrat', sans-serif;
   box-sizing: border-box;
 }

body {
   background-color: antiquewhite;
   color: green;
   /* font-family: 'Montserrat', sans-serif; */
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif; */

header {
   font-size: 1.5rem;
}

.container {
   max-width: 30rem;
   margin-right: auto;
   margin-left: auto;
   
}

#task-input {
   display: inline-flex
   font-family: 'Nunito', sans-serif;
   font-size: 2rem;
   width: 20rem;
}

#submit-btn
{
    outline: none;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: 2px;
    background: white;
    border-radius: 0;
    color: #e75f11;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-flex;
    
}
form button:hover
{
    color: white;
    background-color: ##e75f1;
}

.task-logo {
   float: right;
}



#task-form,
.task-row {
   display: flex;
   align-items: center;
}
.task-row {
   justify-content: space-between;
}