/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,100&family=Nunito+Sans&family=Open+Sans:wght@300&display=swap');



body {
   background-color: antiquewhite;
   color: green;
   font-family: 'Montserrat', sans-serif;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif; */

header {
   font-size: 1.5rem;
}

.container {
   max-width: 30rem;
   margin-right: auto;
   margin-left: auto;
}

.task-logo {
   float: right;
}
/* .card {
   display: flex; 
   text-align: center;
} */

.add-task {
   display: flex;
   flex-direction: column;
   font-family: 'Nunito', sans-serif;
   font-size: 1rem;
   /* margin-bottom: 1rem; */
}

.task-input {
/* margin-top: 1rem; */
}

.submit-task {
   
}